:root {
    color-scheme: light, dark;
}
@media (prefers-color-scheme: dark){
    body { background-color: #333; color: white; }
}
@media (prefers-color-scheme: light){
    body { background-color: #ddd; color: black; }
}

.d-none{
    display: none;
}
/* .btn{
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 10rem;
}
.btn-primary{
    background-color: blue;
    color: white;
}
 */
