<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />    
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link href="../node_modules/electron-virtual-keyboard/virtual-keyboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <div class="container mt-3">
        <div class="alert alert-danger position-fixed w-100 start-0 top-0 none" id="alert_danger" role="alert"></div>
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center flex-row-reverse ">
              <h1 class="ms-2 fw-bold text-primary mb-0">AutoFac</h1>
              <img src="../img/logo-kisko.png" alt="logo" width="50px">
            </div>
        </div>
        <form action="#" method="post" id="form_admin">
            <div class="row"> 
                <div class="col ps-3 pe-0">

                    <h3 class="text-primary">General</h3>
                    
                    <div class="row align-items-center mb-2">
                        <label for="TextoBienvenida" class="form-label pe-0 col-sm-4">Texto de bienvenida</label>
                        <div class="col-8">
                            <textarea class="form-control keyboard" id="TextoBienvenida" name="TextoBienvenida"></textarea>
                        </div>
                    </div>

                    <div class="row align-items-center mb-2">
                        <label for="file_logo" class="form-label col-sm-4">Logo o imagen publicitaria</label> 
                        <div class="col-8">
                            <input type="file" class="form-control" id="file_logo" name="file_logo">
                        </div>
                        <div class="col-4">
                            <img id="img_file" width="100px" height="auto">
                        </div>
                    </div> 
                    
                    <div class="row align-items-center mb-2">
                        <label for="file_video" class="form-label col-sm-4">Video</label> 
                        <div class="col-8">
                            <input type="file" class="form-control" id="file_video" name="file_video">
                        </div>
                        <div class="col-4">
                            <video autoplay muted id="video_file" width="100px" height="auto"></video>
                        </div>
                    </div> 
                    
                    <div class="row align-items-center mb-2">
                        <label for="v_sesion" class="form-label col-sm-4">Vigencia de sesion</label>
                        <div class="col-5 d-flex align-items-end">
                            <input class="form-control keyboard" id="v_sesion" name="v_sesion">
                            <p class="fw-bold mb-0 ms-2">minutos</p>
                        </div>
                    </div>

                    <input type="hidden" id="file_input" name="file_input">
                    <input type="hidden" id="video_path" name="video_path">
                    <input type="hidden" id="id_estacion" name="id_estacion">

                    <h3 class="text-primary">Conexíon</h3>
                    
                    <div class="row align-items-center mb-2">
                        <label for="Usuario" class="form-label col-sm-4">Usuario</label>
                        <div class="col-8">
                            <input class="form-control keyboard" id="Usuario" name="Usuario">
                        </div>
                    </div>

                    <div class="row align-items-center mb-2">
                        <label for="pass" class="form-label col-sm-4">Contraseña</label>
                        <div class="col-8">
                            <input type="password" class="form-control keyboard" id="pass" name="pass">
                        </div>
                    </div>

                    <div class="row align-items-center mb-2">
                        <label for="Estacion" class="form-label col-sm-4">Estación</label>
                        <div class="col-8">
                            <input type="text" class="form-control" id="Estacion" name="Estacion" readonly>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <button type="button" class="btn btn-success me-2" id="btn_conect">Conectar</button>
                        <button type="button" class="btn btn-primary me-2" id="btn_save">Guardar</button>
                        <a href="login.html" class="btn btn-secondary me-2">Volver</a>
                        <button type="button" class="btn btn-danger" id="cerrar">Cerrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="../js/login.js"></script>
    <script src="../teclado.js"></script>
</body>
</html>