<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <title>Kisko</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <div class="container mt-3">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center mb-3">
              <h1 class="me-2">Kiosko de Facturación</h1>
              <img src="../img/logo-kisko.png" alt="logo" width="50px">
            </div>
        </div>
        <form action="#" method="post" id="billing_form">
            <div class="row"> 
                <div class="col ps-3 pe-0">
                    <h3 class="text-primary">General</h3>
                    <div class="row align-items-center mb-2">
                        <label for="TextoBienvenida" class="form-label pe-0 col-sm-4">Texto de bienvenida</label>
                        <div class="col-7">
                            <textarea class="form-control" id="TextoBienvenida" name="TextoBienvenida"></textarea>
                        </div>
                    </div>

                    <div class="row align-items-center mb-2">
                        <label for="logo" class="form-label col-sm-4">Logo o imagen publicitaria</label> 
                        <div class="col-7">
                            <input type="file" class="form-control" id="logo" name="logo">
                        </div>
                    </div>

                    <h3 class="text-primary">Conexíon</h3>
                    
                    <div class="row align-items-center mb-2">
                        <label for="Usuario" class="form-label col-sm-4">Usuario</label>
                        <div class="col-7">
                            <input class="form-control" id="Usuario" name="Usuario">
                        </div>
                    </div>

                    <div class="row align-items-center mb-2">
                        <label for="pass" class="form-label col-sm-4">Contraseña</label>
                        <div class="col-7">
                            <input type="password" class="form-control" id="pass" name="pass">
                        </div>
                    </div>

                    <div class="row align-items-center mb-2">
                        <label for="Estacion" class="form-label col-sm-4">Estación</label>
                        <div class="col-7">
                            <input type="text" class="form-control" id="Estacion" name="Estacion">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" class="btn btn-primary me-2">Conectar</button>
                        <button type="button" class="btn btn-success">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    

    <a href="login.html">Volver al login </a>

</body>
    <script src="../js/login.js"></script>
</html>