<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link href="../node_modules/electron-virtual-keyboard/virtual-keyboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../style.css">

</head>
<body>

    <div class="container mt-5" id="index">    
        <div class="row justify-content-center">
            <div class="col-12 d-flex justify-content-center align-items-center flex-row-reverse mb-4">
                <h1 class="ms-2 mb-0 fw-bold text-primary">AutoFAC</h1>
                <img src="../img/logo-kisko.png" class="pointer" alt="logo" width="50px" id="logo-kisko">
            </div>
            <div class="col-12 mb-3">
                <h2 class="text-center text-primary" id="texto-bienvenida"></h2>
            </div>
            <div class="alert alert-info m-0 none" id="alert_index" role="alert"></div>
            <div class="col-8 mb-4">
                <div>
                    <label class="form-label mb-3" for="referencia_index">Teclee o escanee su referencia</label><span class="ms-2 question-icon pointer" id="info">?</span>
                    <input type="text" class="form-control keyboard" id="referencia_index">
                </div>
            </div>
            <div class="col-12 text-center mb-0">
                <img  alt="por favor configure su logo" class="rounded" width="450rem" height="250rem" id="logo-gasofac">
                <video class="rounded" autoplay muted loop  width="650rem" height="250rem" id="content_video"></video>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <div class="modal_local none" id="modal_local">
        <div id="carousel">
          <div class="carousel-container">
            <div class="carousel-item1">
                <h3 class="mb-4 text-center">Presenta el código QR del comprobante en el escaner</h3>
                <img src="../img/scanner.jpg" alt="icon_qr"> 
            </div>
            <div class="carousel-item1">
                <h3 class="mb-4 text-center">O ingrese manualmente la referencia</h3>
                <img src="../img/tiket.jpg" alt="icon_referencia">
            </div>
          </div>
        </div>  
        <div class="content-btn">
          <button class="btn btn-primary" id="prev-button">Anterior</button>
          <button class="btn btn-danger mx-2" id="btn_close">Salir</button>
          <button class="btn btn-primary" id="next-button">Siguiente</button>
        </div>
    </div>
    <script src="../js/renderer.js"></script>
    <script src="../js/data-check.js"></script>
    <script src="../js/audio.js"></script>
    <script src="../teclado.js"></script>
</body>
</html>