<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link href="../node_modules/electron-virtual-keyboard/virtual-keyboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="../style.css">
</head>
<body>

  <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="alert alert-warning position-fixed w-100 start-0 top-0 none" id="alert_warning" role="alert"></div>
                <form action="#" method="POST" id="login_form"> 
                    <div class="col-12 d-flex justify-content-center align-items-center flex-row-reverse mb-4">
                        <h1 class="text-primary fw-bold text-center mb-0 ms-2">AutoFAC</h1>
                        <img src="../img/logo-kisko.png" alt="logo" width="50px">
                    </div>
                    <h2 class="text-center text-primary mb-3">Facturación web de combustible</h2>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>  
                        <input type="password" class="form-control keyboard" id="password" name="password">
                    </div>
                    <button type="button" class="btn btn-primary" id="btn_login">Conectar</button>
                    <a href="index.html" class="btn btn-secondary">Regresar</a>
                </form>
            </div>
        </div>
  </div>

  <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../node_modules/electron-virtual-keyboard/src/client.js"></script>
  <script src="../js/login.js"></script>
  <script src="../teclado.js"></script>
</body>
</html>