<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    /> -->
    
    <title>Admin</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">

</head>
<body id="body">

  <div class="container-xl mt-3">
      <div class="row">
        <div class="col d-flex justify-content-center align-items-center mb-3">
          <h1 class="me-2">Kiosko de Facturación</h1>
          <img src="../img/logo-kisko.png" alt="logo" width="50px">
        </div>
      </div>
      <form action="#" method="post" id="billing_form">
        <div class="row"> 
          
          <div class="alert alert-info position-fixed top-0 start-0 none" id="alert_info" role="alert">holis</div>
          <div class="alert alert-warning position-fixed top-0 start-0 none" id="alert_warning" role="alert"></div>

          <div class="col-6 ps-3 pe-0">

            <div class="row align-items-center mb-2">
              <label for="RFC" class="form-label pe-0 col-sm-4">RFC:</label>
              <div class="col-7">
                <input type="text" class="form-control" id="RFC" name="RFC">
                <div class="content-list-rfc position-absolute overflow-auto bg-white border border-info none bg-white" id="container-rfc">
                  <ul class="list-group list-group-flush" id="lista-rfc"></ul>
                </div>
              </div>
            </div>

            <div class="row align-items-center mb-2">
              <label for="RazonSocial" class="form-label col-sm-4">Razon social:</label> 
              <div class="col-7">
                <input type="text" class="form-control" id="RazonSocial" name="RazonSocial">
              </div>
            </div>

            <div class="row align-items-center mb-2">
              <label for="CodigoPostal" class="form-label col-sm-4">Codigo Postal:</label>
              <div class="col-7">
                <input type="text" class="form-control" id="CodigoPostal" name="CodigoPostal">
              </div>
            </div>

            <div class="row align-items-center mb-2">
              <label for="CdCfdiRegimen" class="form-label col-sm-4">Regimen fiscal:</label>
              <div class="col-7">
                <select class="form-select" id="CdCfdiRegimen" name="CdCfdiRegimen"></select>
              </div>
            </div>

            <div class="row align-items-center mb-2">
              <label for="CdUsoCfdiFijo" class="form-label col-sm-4">Uso CFDI:</label>
              <div class="col-7">
                <select class="form-select" id="CdUsoCfdiFijo" name="CdUsoCfdiFijo"></select>
              </div>
            </div>

            <div class="row align-items-center mb-2">
              <label for="Email" class="form-label col-sm-4">Email:</label>
              <div class="col-7">
                <input type="email" class="form-control" id="Email" name="Email">
              </div>
            </div>

            <div class="row align-items-center mb-2">
              <label for="FormaPagoFija" class="form-label col-sm-4">Forma de Pago:</label>
              <div class="col-7">
                <select class="form-select" id="FormaPagoFija" name="FormaPagoFija">
                  <option value="01">01-Efectivo</option>
                  <option value="02">02-Cheque Nominativo</option>
                  <option value="03">03-Transferencia electronica de fondos</option>
                  <option value="04">04-Tarjeta de credito</option>
                  <option value="28">28-Tarjeta de debito</option>
                  <option value="29">29-Tarjeta de servicio</option>
                  <option value="99">99-Por definir</option>
                </select>
              </div>
            </div>

            <div class="row align-items-center mb-2">
              <label for="Observaciones" class="form-label col-sm-4">Observaciones:</label>
              <div class="col-7">
                <textarea class="form-control" id="Observaciones" name="Observaciones"></textarea>
              </div>
            </div>

            <div class="none">
                <label for="">Referencia clean</label>
                <input type="hidden" id="a_referencia_clean" name="a_referencia_clean">
            </div>

          </div>

          <div class="col-5">
          
            <div class="mb-2">
              <label for="referencia" class="form-label">Teclee o escanee su referencia</label>
              <input type="text" class="form-control" id="referencia">
            </div>

            <div class="row">
              <div class="col-7">Referencia</div>
              <div class="col-3">Importe</div>
              <div class="col-2">Remover</div>
            </div>
            <div class="row mt-2 content-referencia overflow-auto" id="lista_tickets_all"></div>
            <div class="d-flex mt-3 mb-3">
              <p class="me-3"><strong class="me-2">Comprobantes</strong>(<strong id="comprobantes">0</strong>)</p>
              <p><strong class="me-1">Total: $</strong><strong id="total">0.00</strong></p>
            </div>
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-primary" id="generar_factura">Generar factura</button>
            </div>
          </div>
        </div>
      </form>
      <a href="index.html" class="text-danger">Cancelar factura</a>
  </div>

</body>
  <script src="../js/data-check.js"></script>
</html>