<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    
    <div class="container-xl mt-3">
        <div class="row">
          <div class="col d-flex justify-content-center align-items-center mb-3">
            <h1 class="me-2">Kiosko de Facturación</h1>
            <img src="../img/logo-kisko.png" alt="logo" width="50px">
          </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mb-3">
                <h1 class="fw-bold mb-3">¡Timbrado exitoso!</h1>
                <img src="../img/check.png" alt="check" width="150rem">
            </div>
            <div class="col-12 text-center">
                <p class="fs-4">Su facturación será enviada al correo electrónico ingresado.</p>
                <p class="fs-4 mb-3">Adicionalmente se le otorga el comprobante impreso, <br> verifique la salida de papel</p>
                <button type="click" class="btn btn-primary mb-3" id="imprimir">Imprimir</button>
                <p class="fs-4 mb-0">¡Gracias por su preferencia!</p>
            </div>  
            <div class="">
                <a class="btn btn-info text-white position-absolute z-30 bottom-0 end-0 mx-2 mb-2" href="index.html">Inicio</a>
            </div>
        </div>
    </div>

</body>
    <script src="../js/data-check.js"></script>
</html>